<html>
<head>
  
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/superhero/bootstrap.min.css">
  
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script type="text/javascript" src="frello_controller.js"></script>
  
  
  </head>
<body ng-app="app">

<div class="container"  ng-controller="TodoController">
    

	 <div class="list-group" ng-hide="vidno">
        <a class="list-group-item" ng-repeat="todo in todos track by $index">
        	<span style="float:right;">
          	    <button class="btn btn-success btn-xs" ng-click="statusTodo($index)">opravljeno</button>
          	    <button class="btn btn-info btn-xs" ng-click="editTodo($index)">edit</button>
        		<button class="btn btn-danger btn-xs" ng-click="removeTodo($index)">odstrani</button>
        	</span>
	        {{todos[$index].tekst}}	
	        <input type="text" class="form-control" style="margin-top:8px;" ng-show="todos[$index].editbox" ng-model="todos[$index].tekst" >
        </a>
     </div>


    <div class="form-group" ng-init="todos = [{tekst:'nekaj moras naredit', stat:false, editbox:false}]">
	  <div class="input-group">
	    <span class="input-group-addon">Nov todo:</span>
	    <input type="text" class="form-control" ng-model="todo" >
	    <span class="input-group-btn">
	      <button class="btn btn-default" type="button" ng-click="dodajTodo(todo)">+</button>
	    </span>
	  </div>

	  <div class="checkbox">
	        <label>
		        <input type="checkbox" class="checkbox" ng-model="vidno"/>   
		        Skrij todo list 
	        </label>
        <div>

	</div>

    
</div>  
  

  
</body>
</html>